##encoding: utf-8
## 請注意, 一定要有語系編碼設定, 否則無法處理中文
    <br />
    <a href="guess.flv">神奇的猜數字遊戲，上傳操作，負責人:袁丞宗</a><br />
    <a href='/kmol/code-iag7.py'>簡單的加減運算，主要設計人:謝俊宇，輔助:賴涵餘、陳易宥、王呈煒、丁軍華</a><br />
    <a href='/kmol/code-iag7.pdf'>簡單的加減運算，主要設計人:謝俊宇，美編:賴涵餘</a><br />